version: "3.9"

services:
  backend:
    image: karza/counter-backend:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/appdb
      RUST_LOG: info
    networks:
      - app_net
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    image: karza/counter-frontend:latest
    deploy:
      replicas: 2
      restart_policy:
        condition: any
    ports:
      - "3000:3000"
    environment:
      HOST: 0.0.0.0
      NUXT_PUBLIC_API_BASE: http://backend:8080
    networks:
      - app_net
    depends_on:
      - backend

  db:
    image: postgres:15
    deploy:
      placement:
        constraints:
          - node.role == manager
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

  motor-admin:
    image: motoradmin/motoradmin
    deploy:
      placement:
        constraints:
          - node.role == worker
    ports:
      - "8000:3000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/appdb
    networks:
      - app_net
    depends_on:
      - db

volumes:
  postgres_data:

networks:
  app_net:
    driver: overlay
